<template>
  <div>
    <h1>My dashboard</h1>

    <div class="container">
      <div class="row">
        <div class="col-sm">
<!--          oops-->

          <!--          FOR DEBUGGING-->
<!--          <p>Min date: {{ minDate == null ? "No data" : minDate }}</p>-->
<!--          <p>Max date: {{ maxDate == null ? "No data" : maxDate }}</p>-->
<!--          <button v-on:click="getWorkingtimes" type="button">TEST</button>-->
<!--          {{ this.donutData }}-->
<!--          {{ this.donutKey }}-->
<!--          <button v-on:click="analyseData" type="button">Refresh all</button>-->
<!--          test-->
          <p>Period start:
            <input v-model="periodStart" v-on:change="analyseData" type="datetime-local" class="form-control">
          </p>
          <p>Period end:
            <input v-model="periodEnd" v-on:change="analyseData" type="datetime-local" class="form-control">
          </p>
          <donut-chart
              id="donut"
              :key="donutKey"
              :data="donutData"
              colors='[ "#FF6384", "#36A2EB" ]'
              resize="true">
          </donut-chart>
          <h2>Working times statistics</h2>
          <table class="table ">
            <tbody>
            <tr>
              <th scope="row">Total Working time</th>
              <td>{{ totalWT == null ? "No data" : (totalWT / (1000 * 60 * 60)).toFixed(2) + " hrs" }}</td>

            </tr>
            <tr>
              <th scope="row">Total time</th>
              <td>{{ totalTime == null ? "No data" : (totalTime / (1000 * 60 * 60)).toFixed(2) + " hrs" }}</td>

            </tr>
            <tr>
              <th scope="row">Total number of workingtimes</th>
              <td>{{ totalNbOfWT == null ? "No data" : totalNbOfWT }}</td>

            </tr>
            <tr>
              <th scope="row">Worktime average duration</th>
              <td>{{ avgWT == null ? "No data" : (avgWT / (1000 * 60 * 60)).toFixed(2) + " hrs" }}</td>

            </tr>
            <tr>
              <th scope="row">Longest worktime</th>
              <td>{{ longestWT == null ? "No data" : (longestWT / (1000 * 60 * 60)).toFixed(2) + " hrs" }}</td>

            </tr>
            <tr>
              <th scope="row">Shortest worktime</th>
              <td>{{ shortestWT == null ? "No data" : (shortestWT / (1000 * 60 * 60)).toFixed(2) + " hrs" }}</td>

            </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm">
          <line-chart
              id="line"
              :data="lineData"
              xkey="year"
              ykeys='["value"]'
              labels='["Total Worktime duration (hrs)"]'
              colors='[ "#FF6384", "#36A2EB" ]'
              grid="true"
              grid-text-weigth="bold"
              resize="true">
          </line-chart>
          <br>
          <bar-chart
              id="bar"
              :data="barData"
              xkey="year"
              ykeys='["avg", "total"]'
              colors='[ "#FF6384", "#36A2EB" ]'
              labels='["Average Worktime duration (hrs)", "total number of WTs"]'
              grid="true"
              grid-text-weigth="bold"
              resize="true">
          </bar-chart>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
// import {DonutChart, BarChart, LineChart, AreaChart} from 'vue-morris';
import {DonutChart, LineChart, BarChart} from 'vue-morris';

export default {
  name: "Dashboard",
  props: {
    user: Object,
    jwt: String
  },
  created() {
    this.getWorkingtimes();
  },
  methods: {
    //to force the re-render of the charts to show the changes in data
    forceAllRerender() {
      this.donutKey += 1;
      this.barKey += 1;
      this.lineKey += 1;
    },
    forceDonutRerender() {
      this.donutKey += 1;
    },
    forceBarRerender() {
      this.barKey += 1;
    },
    forceLineRerender() {
      this.lineKey += 1;
    },
    getWorkingtimes() {
      this.totalWT = 0;
      var myHeaders = new Headers();
      //debug
      // console.log(`The jwt is: ${this.jwt}`)
      // console.log(`The x-csrf-token is: ${VueJwtDecode.decode(this.jwt)["c-xsrf-token"]}`)
      myHeaders.append("Content-Type", "application/json");
      myHeaders.append("Authorization", "Bearer " + this.jwt);
      //attempt at making csrf work, don't delete
      //myHeaders.append("x-csrf-token", VueJwtDecode.decode(this.jwt)["c-xsrf-token"]);

      let requestOptions = {
        method: 'GET',
        headers: myHeaders,
        redirect: 'follow'
      };
      fetch(`http://localhost:4000/api/workingtimes/?type=users&id=${this.user.id}`, requestOptions)
          .then(function (response) {
            if (!response.ok) {
              throw Error(response.statusText);
            }
            return response;
          })
          .then(response => response.json())
          .then(result => {
            result = result.data;
            // console.log(result);
            this.workingtimeData = result;
            this.analyseData();
          })
          .catch(error => console.log('error', error));
    },
    analyseData() {
      //****************************************************************************************************************
      //UPDATE THE DONUT CHART
      //****************************************************************************************************************
      let dates = [];
      let workingTimes = [];
      this.totalWT = 0;
      let upperDateLimit = new Date(this.periodEnd).getTime()
      let lowerDateLimit = new Date(this.periodStart).getTime()
      this.workingtimeData.forEach(worktime => {
        // console.log(element);
        let end = new Date(worktime.end);
        let start = new Date(worktime.start);

        //check that the workingtime is within the range we are interested in for the analysis...
        if (start.getTime() >= lowerDateLimit && start.getTime() <= upperDateLimit) {
          let workTime = end.getTime() - start.getTime();
          dates.push(end);
          dates.push(start);
          workingTimes.push(workTime);
          this.totalWT += (workTime);
        }

      });
      // console.log(workingTimes);
      this.totalNbOfWT = workingTimes.length;
      //debug
      // console.log(`TOTAL WORKTIME IS :${this.totalWT}`);
      this.shortestWT = Math.min.apply(null, workingTimes);
      this.longestWT = Math.max.apply(null, workingTimes);
      this.avgWT = (this.totalWT / this.totalNbOfWT).toFixed(2);
      //calculate the total time between the min date and max date to get the total time.
      //getTime() returns the times in ms since 1970/01/01
      this.maxDate = new Date(Math.max.apply(null, dates));
      this.minDate = new Date(Math.min.apply(null, dates));
      this.totalTime = (this.maxDate.getTime() - this.minDate.getTime());

      //donutData[0] is the time worked.
      this.donutData[0].value = (this.totalWT / (1000 * 60 * 60)).toFixed(2);
      //donutData[1] is the time NOT worked.
      this.donutData[1].value = ((this.totalTime - this.totalWT) / (1000 * 60 * 60)).toFixed(2);


      //****************************************************************************************************************
      //UPDATE THE BAR CHART
      //****************************************************************************************************************
      let minYear = this.minDate.getFullYear();
      let maxYear = this.maxDate.getFullYear();
      this.barData = [];
      // console.log(`minYear = ${minYear}`)
      // console.log(`minYear = ${maxYear}`)

      while (minYear <= maxYear) {
        // console.log(this.getAverageWtForYear(minYear));
        this.barData.push({year: minYear, avg: this.getAverageWtForYear(minYear), total: this.getTotalNbOfWtForYear(minYear)})
        minYear++;
      }
      // console.log(this.barData)

      //****************************************************************************************************************
      //UPDATE THE LINE CHART
      //****************************************************************************************************************
      minYear = this.minDate.getFullYear();
      maxYear = this.maxDate.getFullYear();
      this.lineData = [];
      // console.log(`minYear = ${minYear}`)
      // console.log(`minYear = ${maxYear}`)

      while (minYear <= maxYear) {
        // console.log(this.getTotalWorktimeForYear(minYear));
        this.lineData.push({year: minYear.toString(), value: this.getTotalWorktimeForYear(minYear)})
        minYear++;
      }
      // console.log(this.lineData)
      this.forceAllRerender();
    },
    getAverageWtForYear(year) {
      //for ex: year = 2020
      let workingTimes = [];
      let lowerDateLimit = new Date(year + "-01-01T00:00:00").getTime()
      let upperDateLimit = new Date(year + "-12-31T23:59:59").getTime()
      let totalWT = 0;
      let avgWT = 0;
      let nbOfWt = 0;
      // console.log(`the uppDateLimit is: ${upperDateLimit}`);
      // console.log(`the lowerDateLimit is: ${lowerDateLimit}`);
      this.workingtimeData.forEach(worktimeData => {
        // console.log(worktime);
        let end = new Date(worktimeData.end);
        let start = new Date(worktimeData.start);
        //check that the workingtime is within the range we are interested in for the analysis...
        // console.log(`start.getTime() = ${start.getTime()}`)
        // console.log(`lowerDateLimit = ${lowerDateLimit}`)
        // console.log(`upperDateLimit = ${upperDateLimit}`)
        if (start.getTime() >= lowerDateLimit && start.getTime() <= upperDateLimit) {

          let workTime = end.getTime() - start.getTime();
          // console.log(workTime)
          workingTimes.push(workTime);
          totalWT += (workTime);
        }
      });
      // console.log(`totalWT is ${totalWT}`);
      // console.log(workingTimes);
      nbOfWt = workingTimes.length;
      // avgWT = (totalWT / nbOfWt).toFixed(2);
      avgWT = totalWT / nbOfWt;
      // console.log(avgWT)
      return Math.round(avgWT / (1000 * 60 * 60));
    },
    getTotalWorktimeForYear(year) {
      //TODO optimization......c'est bourrin
      //for ex: year = 2020
      let lowerDateLimit = new Date(year + "-01-01T00:00:00").getTime()
      let upperDateLimit = new Date(year + "-12-31T23:59:59").getTime()
      let totalWT = 0;
      // console.log(`the uppDateLimit is: ${upperDateLimit}`);
      // console.log(`the lowerDateLimit is: ${lowerDateLimit}`);
      this.workingtimeData.forEach(worktimeData => {
        // console.log(worktime);
        let end = new Date(worktimeData.end);
        let start = new Date(worktimeData.start);
        //check that the workingtime is within the range we are interested in for the analysis...
        if (start.getTime() >= lowerDateLimit && start.getTime() <= upperDateLimit) {
          let workTime = end.getTime() - start.getTime();
          totalWT += (workTime);
        }
      });
      // console.log(totalWT);
      return Math.round(totalWT / (1000 * 60 * 60));
    },
    getTotalNbOfWtForYear(year) {
      //TODO optimization......c'est bourrin
      //for ex: year = 2020
      let workingTimes = [];
      let lowerDateLimit = new Date(year + "-01-01T00:00:00").getTime()
      let upperDateLimit = new Date(year + "-12-31T23:59:59").getTime()
      let totalWT = 0;
      let nbOfWt = 0;
      this.workingtimeData.forEach(worktimeData => {
        let end = new Date(worktimeData.end);
        let start = new Date(worktimeData.start);
        if (start.getTime() >= lowerDateLimit && start.getTime() <= upperDateLimit) {
          let workTime = end.getTime() - start.getTime();
          workingTimes.push(workTime);
          totalWT += (workTime);
        }
      });
      nbOfWt = workingTimes.length;
      return nbOfWt;
    }
  },
  data() {
    return {
      donutKey: 0,
      lineKey: 0,
      barKey: 0,
      periodStart: "2020-10-15T08:00:00",
      periodEnd: "2020-10-25T20:00:00",
      workingtimeData: null,
      donutData: [
        {label: 'Working Time', value: 0.12},
        {label: 'Rest time', value: 0}
      ],
      lineData: [
        {year: 2020, value: 1},
        {year: 2021, value: 2},
        {year: 2022, value: 5},
        {year: 2023, value: 3},
        {year: 2024, value: 4}
      ],
      barData: [
        {year: 2020, avg: 10, total: 2.22},
        {year: 2021, avg: 16, total: 3.64},
        {year: 2022, avg: 5, total: 3.46},
        {year: 2023, avg: 8, total: 5.9}
      ],
      totalWT: 0,
      totalTime: 0,
      totalNbOfWT: 0,
      avgWT: 0,
      longestWT: 0,
      shortestWT: 0,
      maxDate: null,
      minDate: null
    }
  },
  components: {
    // DonutChart, BarChart, LineChart, AreaChart
    DonutChart, LineChart, BarChart
  }
}
</script>

<style scoped>

</style>