<template>
  <div id="app">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <router-link to="/" class="navbar-brand">Time Manager</router-link>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04"
              aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample04">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <router-link to="/dashboard" v-if="userLoggedIn" class="nav-link">Dashboard</router-link>
          </li>
          <li class="nav-item active">
            <router-link to="/users" v-if="userLoggedIn && user.role === 'General Manager'" class="nav-link"> Users <span
                class="sr-only">(current)</span></router-link>
          </li>
          <li class="nav-item active">
            <router-link to="/clocking" v-if="userLoggedIn" class="nav-link">Clocking <span
                class="sr-only">(current)</span></router-link>
          </li>
          <li class="nav-item active">
            <router-link to="/teams" v-if="userLoggedIn" class="nav-link">Teams <span
                class="sr-only">(current)</span></router-link>
          </li>

          <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" id="dropdown04" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">{{ user.username }}</a>
            <div class="dropdown-menu active" aria-labelledby="dropdown04">
              <router-link to="/login" v-if="userLoggedOut" class="dropdown-item">Log in</router-link>
              <router-link to="/signup" v-if="userLoggedOut" class="dropdown-item">Sign up</router-link>
              <router-link to="/edit" v-if="userLoggedIn" class="dropdown-item">Edit</router-link>
              <a v-if="userLoggedIn" v-on:click="userLogout" class="dropdown-item">Log out</a>
            </div>
          </li>
          <li class="nav-item active">
            <router-link to="/workingtimes" v-if="userLoggedIn" class="nav-link">Working Times</router-link>
          </li>
        </ul>
      </div>
    </nav>
    <router-view @successful-login="userLogin" @successful-logout="userLogout" @update-jwt="updateToken"
                 :jwt="jwt" :user="user"></router-view>
  </div>
</template>

<script>

export default {
  name: 'App',
  methods: {
    userLogin(loggedUser) {
      // console.log(loggedUser)
      this.user = loggedUser;
      this.userLoggedIn = true;
      this.userLoggedOut = false;
    },
    userLogout() {
      this.signout();
      this.user = {
        username: "Log in", email: "", id: -1
      };
      this.userLoggedIn = false;
      this.userLoggedOut = true;
      this.$router.push("/").catch(() => {
        //TODO handle error of trying to navigate to a page you are already on....
      });
    },
    signout() {
      var myHeaders = new Headers();

      myHeaders.append("Content-Type", "application/json");
      myHeaders.append("Authorization", "Bearer " + this.jwt);
      var requestOptions = {
        method: 'GET',
        headers: myHeaders,
        redirect: 'follow'
      };

      fetch("http://localhost:4000/api/users/sign_out", requestOptions)
          .then(response => response.text())
          .then(result => console.log(result))
          .catch(error => console.log('error', error));
    },
    updateToken(jwt) {
      this.jwt = jwt;
      // console.log("INSIDE UPDATETOKEN");
      // console.log(this.jwt);
    }
  }
  ,
  data() {
    return {
      user: {
        username: "Log in",
        email: "",
        id: -1
      },
      userLoggedIn: false,
      userLoggedOut: true,
      jwt: null
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 0px;
  /*height: 100vh;*/
}

body {
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}
</style>
