<template>
  <div>
    <form class="form-signin" @submit.prevent="saveUserInfo">
      <h1>{{ user.email }}</h1>
      <hr>
      <h3>Edit personal information</h3>
      <p>Email:
        <input v-model="editInputEmail" type="email" class="form-control" :placeholder="user.email">
      </p>
      <p>Username:
        <input v-model="editInputUsername" type="text" class="form-control" :placeholder="user.username">
      </p>
      <div v-if="this.$router.currentRoute.path === '/users' || user.role === 'General Manager'" class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownRoleBtn" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
          Change Role
        </button>
        <div class="dropdown-menu text-left ml-auto" aria-labelledby="dropdownMenuButton">
          <div class="radio">
            <label><input v-model="selectedRole" type="radio" id="empRole" name="radioRoles" value="Employee">
              Employee</label>
          </div>
          <div class="radio">
            <label><input v-model="selectedRole" type="radio" id="manRole" name="radioRoles" value="Manager">
              Manager</label>
          </div>
          <div class="radio">
            <label><input v-model="selectedRole" type="radio" id="genRole" name="radioRoles" value="General Manager">
              General Manager</label>
          </div>
        </div>
      </div>
      <br>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
      <button v-on:click="deleteUser" class="btn btn-lg btn-danger btn-block" type="button">Delete</button>
    </form>
  </div>
</template>

<script>
export default {
  name: "Edit",
  props: {
    user: Object,
    jwt: String
  },
  data() {
    return {
      editInputUsername: this.user.username,
      editInputEmail: this.user.email,
      selectedRole: this.user.role,
    }
  },
  methods: {
    saveUserInfo() {
      var myHeaders = new Headers();
      //debug
      // console.log(`The jwt is: ${this.jwt}`)
      // console.log(`The x-csrf-token is: ${VueJwtDecode.decode(this.jwt)["c-xsrf-token"]}`)
      myHeaders.append("Content-Type", "application/json");
      myHeaders.append("Authorization", "Bearer " + this.jwt);
      //attempt at making csrf work, don't delete
      //myHeaders.append("x-csrf-token", VueJwtDecode.decode(this.jwt)["c-xsrf-token"]);

      var raw = JSON.stringify({
        "users":
            {
              "username": this.editInputUsername,
              "email": this.editInputEmail,
              "role": this.selectedRole
            }
      });

      var requestOptions = {
        method: 'PUT',
        headers: myHeaders,
        body: raw,
        redirect: 'follow'
      };

      fetch("http://localhost:4000/api/users/" + this.user.id, requestOptions)
          .then(function (response) {
            if (!response.ok) {
              throw Error(response.statusText);
            }
            return response;
          })
          .then(response => response.text())
          .then(result => {
            // console.log(result)
            result = JSON.parse(result);
            console.log(result)
            // console.log(this.$router.currentRoute.path)
            if (this.$router.currentRoute.path === "/edit")
            {
              this.$emit('successful-login', result);
            } else if(this.$router.currentRoute.path === "/users") {
              this.$emit('hide-me');
            } else {
              //TODO ?
            }
          })
          .catch(error => console.log('error', error));
    },
    deleteUser() {
      this.$confirm("Are you sure you want to delete this user ?").then(() => {
        var myHeaders = new Headers();
        //debug
        // console.log(`The jwt is: ${this.jwt}`)
        // console.log(`The x-csrf-token is: ${VueJwtDecode.decode(this.jwt)["c-xsrf-token"]}`)
        myHeaders.append("Content-Type", "application/json");
        myHeaders.append("Authorization", "Bearer " + this.jwt);
        //attempt at making csrf work, don't delete
        //myHeaders.append("x-csrf-token", VueJwtDecode.decode(this.jwt)["c-xsrf-token"]);

        var requestOptions = {
          method: 'DELETE',
          headers: myHeaders,
          redirect: 'follow'
        };

        fetch("http://localhost:4000/api/users/" + this.user.id, requestOptions)
            .then(function (response) {
              if (!response.ok) {
                throw Error(response.statusText);
              }
              return response;
            })
            .then(response => response.text())
            .then(result => {
              //TODO on veut juste savoir si la requete a fonctionner
              console.log(result)
              if (result) {
                result = JSON.parse(result);
                // console.log(result)
              }
              //on on emet un event  successful-logout ---> on se deconnecte. Les donnes de l'utilisateur sont reset dans App.vue (le parent)
              this.$emit('successful-logout');
              // this.$router.push("/");
            })
            .catch(error => console.log('error', error));
      }).catch(error => {
        // console.log('error', error)
        //TODO HANDLE ERROR
      });
    }
  }
}
</script>

<style scoped>
html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>