<template>
  <div>
    <div>
      <h1>{{ teamName}}</h1>
      <form class="form-signin" @submit.prevent="saveTeamName">
        <p>
          <input v-model="teamName" type="text" class="form-control" :placeholder="team.name">
        </p>
        <button class="btn btn-lg btn-primary" type="submit">Save team name</button>
      </form>
      <button @click="backToTeams" type="button" class="btn btn-primary">
        Go Back
      </button>
      <button @click="addUserToTeam" type="button" class="btn btn-primary">
        Add users
      </button>
      <b-table :items="usersList" :fields="fields2" striped responsive="sm" hover>
        <template v-slot:cell(actions)="data">
          <button v-if="user.role === 'Manager' ||user.role === 'General Manager'"
                  @click="removeUserFromTeam(data.item.id)"
                  type="button" class="btn btn-danger">
            Remove user
          </button>
        </template>
      </b-table>
      <h3 v-if="usersList.length === 0"> No users in this team.</h3>
    </div>
  </div>
</template>

<script>
export default {
  name: "Team",
  props: {
    user: Object,
    jwt: String,
    team: Object
  },
  data() {
    return {
      usersList: [],
      fields2: ['id', 'username', 'email', 'role', 'actions'],
      teamName: this.team.name,
      increamtalID: 1
    }
  },
  created() {
    this.getUsersInTeam()
  },
  methods: {
    addUserToTeam() {
      var myHeaders = new Headers();
      myHeaders.append("Content-Type", "application/json");
      myHeaders.append("Authorization", "Bearer " + this.jwt);

      var raw = JSON.stringify({"users_teams":{"teams_id":this.team.id,"users_id":this.increamtalID}});

      var requestOptions = {
        method: 'POST',
        headers: myHeaders,
        body: raw,
        redirect: 'follow'
      };
      this.increamtalID++;

      fetch("http://localhost:4000/api/teamsUsers", requestOptions)
          .then(response => response.text())
          .then(result => {
            console.log(result);
            this.getUsersInTeam();
          })
          .catch(error => console.log('error', error));
    },
    saveTeamName(){
      var myHeaders = new Headers();
      myHeaders.append("Content-Type", "application/json");
      myHeaders.append("Authorization", "Bearer " + this.jwt);


      var raw = JSON.stringify({"teams":{"name":this.teamName}});

      var requestOptions = {
        method: 'PUT',
        headers: myHeaders,
        body: raw,
        redirect: 'follow'
      };
      fetch("http://localhost:4000/api/teams/" + this.team.id, requestOptions)
          .then(response => response.text())
          .then(result => {
            console.log(result);
          })
          .catch(error => console.log('error', error));
    },
    backToTeams() {
      this.$emit("hide-me")
    },
    removeUserFromTeam(userID) {
      //need both user id and team id
      console.log(userID);
      console.log(this.team.id);


      var myHeaders = new Headers();
      myHeaders.append("Content-Type", "application/json");
      myHeaders.append("Authorization", "Bearer " + this.jwt);

      var requestOptions = {
        method: 'DELETE',
        headers: myHeaders,
        redirect: 'follow'
      };

      fetch("http://localhost:4000/api/teamsUsers/" + this.team.id + "/" + userID, requestOptions)
          .then(function (response_user_teams) {
            if (!response_user_teams.ok) {
              throw Error(response_user_teams.statusText);
            }
            return response_user_teams;
          })
          .then(response => response.text())
          .then(result => {
            // console.log(result)
            this.getUsersInTeam();
          })
          .catch(error => console.log('error', error));

    },
    getUsersInTeam() {
      var myHeaders = new Headers();
      myHeaders.append("Content-Type", "application/json");
      myHeaders.append("Authorization", "Bearer " + this.jwt);


      var requestOptions = {
        method: 'GET',
        headers: myHeaders,
        redirect: 'follow'
      };

      fetch("http://localhost:4000/api/teamsUsers?type=teams&id=" + this.team.id, requestOptions)
          .then(function (response_user_teams) {
            if (!response_user_teams.ok) {
              throw Error(response_user_teams.statusText);
            }
            return response_user_teams;
          })
          .then(response => response.text())
          .then(result => {
            result = JSON.parse(result);
            result = result.data;
            console.log(result)
            this.usersList = result.map(_ => {
              return {
                id: _.id,
                username: _.username,
                email: _.email,
                role: _.role
              }
            })

          })
          .catch(error => console.log('error', error));
    }
  },

}
</script>

<style scoped>
html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>