<template>

  <div>
    <div v-if="showList">
      <h1>Teams</h1>
      <button @click="newTeam" type="button" class="btn btn-primary ">
        New team
      </button>
      <b-table :items="teamsList" :fields="fields" striped responsive="sm" hover>
        <template v-slot:cell(actions)="data">
          <button v-if="user.role === 'Manager' ||user.role === 'General Manager'" @click="renameTeam(data.item.id)"
                  type="button" class="btn btn-primary">
            Rename
          </button>
          <button v-if="user.role === 'Manager' ||user.role === 'General Manager'" @click="editTeam(data.item)"
                  type="button" class="btn btn-warning">
            Edit
          </button>
          <button v-if="user.role === 'Manager' ||user.role === 'General Manager'" @click="deleteTeam(data.item.id)"
                  type="button" class="btn btn-danger">
            Delete
          </button>
        </template>
      </b-table>
      <h3 v-if="teamsList.length === 0"> No teams.</h3>
    </div>
    <div>
      <Team @hide-me="switchVisibility" v-if="showEditTeam" :jwt="jwt" :user="user" :team="teamToBeEdited"/>
    </div>
  </div>

</template>

<script>
import Team from "@/components/Team/Team";


export default {
  name: "Teams",
  components: {
    Team
  },
  props: {
    user: Object,
    jwt: String
  },
  data() {
    return {
      teamsList: [],
      fields: ['id', 'name', 'actions'],
      showEditTeam: false,
      showList: true,
      teamToBeEdited: null
    }
  },
  created() {
    this.getTeams();
  },
  methods: {
    renameTeam(teamID) {
      console.log(teamID)
      //TODO
    },
    switchVisibility() {
      this.showEditTeam = !this.showEditTeam;
      this.showList = !this.showList;
      this.getTeams();
    },
    uuidv4() {
      return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
        var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
        return v.toString(16);
      });
    },
    newTeam() {
      var myHeaders = new Headers();
      //debug
      // console.log(`The jwt is: ${this.jwt}`)
      // console.log(`The x-csrf-token is: ${VueJwtDecode.decode(this.jwt)["c-xsrf-token"]}`)
      myHeaders.append("Content-Type", "application/json");
      myHeaders.append("Authorization", "Bearer " + this.jwt);
      //attempt at making csrf work, don't delete
      //myHeaders.append("x-csrf-token", VueJwtDecode.decode(this.jwt)["c-xsrf-token"]);

      var raw = JSON.stringify({"teams": {"name": this.uuidv4()}});

      var requestOptions = {
        method: 'POST',
        headers: myHeaders,
        body: raw,
        redirect: 'follow'
      };

      fetch("http://localhost:4000/api/teams", requestOptions)
          .then(function (response) {
            if (!response.ok) {
              throw Error(response.statusText);
            }
            return response;
          })
          .then(response => response.text())
          .then(result => {
            //TODO on veut juste savoir si la requete a fonctionner
            // console.log(result)
            if (result) {
              result = JSON.parse(result);
              console.log(result)
            }
            this.getTeams();
          })
          .catch(error => console.log('error', error));
    },
    editTeam(team) {
      console.log(team)
      this.teamToBeEdited = {id: team.id, name: team.name};
      this.switchVisibility()
    },
    deleteTeam(teamID) {
      console.log(teamID)
      this.$confirm("Are you sure you want to delete this team ?").then(() => {
        var myHeaders = new Headers();
        //debug
        // console.log(`The jwt is: ${this.jwt}`)
        // console.log(`The x-csrf-token is: ${VueJwtDecode.decode(this.jwt)["c-xsrf-token"]}`)
        myHeaders.append("Content-Type", "application/json");
        myHeaders.append("Authorization", "Bearer " + this.jwt);
        //attempt at making csrf work, don't delete
        //myHeaders.append("x-csrf-token", VueJwtDecode.decode(this.jwt)["c-xsrf-token"]);

        var requestOptions = {
          method: 'DELETE',
          headers: myHeaders,
          redirect: 'follow'
        };

        fetch("http://localhost:4000/api/teams/" + teamID, requestOptions)
            .then(function (response) {
              if (!response.ok) {
                throw Error(response.statusText);
              }
              return response;
            })
            .then(response => response.text())
            .then(result => {
              //TODO on veut juste savoir si la requete a fonctionner
              // console.log(result)
              if (result) {
                result = JSON.parse(result);
                console.log(result)
              }
              this.getTeams();
            })
            .catch(error => console.log('error', error));
      }).catch(error => {
        // console.log('error', error)
        //TODO HANDLE ERROR
      });

    },
    getTeams() {
      var myHeaders = new Headers();
      myHeaders.append("Content-Type", "application/json");
      myHeaders.append("Authorization", "Bearer " + this.jwt);


      var requestOptions = {
        method: 'GET',
        headers: myHeaders,
        redirect: 'follow'
      };

      fetch("http://localhost:4000/api/teams", requestOptions)
          .then(function (response_user_teams) {
            if (!response_user_teams.ok) {
              throw Error(response_user_teams.statusText);
            }
            return response_user_teams;
          })
          .then(response => response.text())
          .then(result => {
            result = JSON.parse(result);
            result = result.data;
            // console.log(result)
            this.teamsList = result.map(_ => {
              return {
                id: _.id,
                name: _.name
              }
            })
            // console.log("THIS IS TEAMS LIST")
            // console.log (this.teamsList)
          })
          .catch(error => console.log('error', error));
    }
  }
}
</script>

<style scoped>
html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

</style>