<template>
  <div>

    <div v-if="showList">
      <div>
        <!--      <button v-on:click="getUsers" class="btn btn-lg btn-primary btn-block" type="button">Get users-->
        <!--      </button>-->
      </div>
      <h1>Users</h1>
      <b-table :items="usersList" :fields="fields" striped responsive="sm" hover>
        <template v-slot:cell(actions)="data">
          <button @click="editUser(data.item)" type="button" class="btn btn-warning">
            Edit user
          </button>
          <button @click="deleteUser(data.item.id)" type="button" class="btn btn-danger">
            Delete user
          </button>
        </template>
      </b-table>
      <h3 v-if="usersList.length === 0"> No users.</h3>
    </div>
    <div>
      <Edit @hide-me="switchVisibility" v-if="showEditUser" :jwt="jwt" :user="userToEdit"/>
    </div>
  </div>
</template>

<script>
import Edit from "@/components/User/Edit";

export default {
  name: "Users",
  components: {
    Edit
  },
  props: {
    user: Object,
    jwt: String
  },
  data() {
    return {
      usersList: [],
      fields: ['id', 'username', 'email', 'role', 'actions'],
      showList: true,
      showEditUser: false,
      userToEdit: null
    }
  },
  created() {
    this.getUsers();
  },
  methods: {
    switchVisibility() {
      // console.log(`this.showEditUser BEFORE = ${this.showEditUser}`)
      this.showEditUser = !this.showEditUser
      // console.log(`this.showList AFTER SWITCH = ${this.showList}`)
      // console.log(`this.showList BEFORE = ${this.showList}`)
      this.showList = !this.showList
      // console.log(`this.showList AFTER SWITCH = ${this.showList}`)
      //refresh the data after the user modified a user, so that the changes show on the list.
      if (this.showList)
        this.getUsers();
    },
    editUser(userToEditInfo) {
      this.switchVisibility();
      console.log(userToEditInfo);
      this.userToEdit = userToEditInfo;
    },
    deleteUser(userID) {
      this.$confirm("Are you sure you want to delete this user ?").then(() => {
        var myHeaders = new Headers();
        //debug
        // console.log(`The jwt is: ${this.jwt}`)
        // console.log(`The x-csrf-token is: ${VueJwtDecode.decode(this.jwt)["c-xsrf-token"]}`)
        myHeaders.append("Content-Type", "application/json");
        myHeaders.append("Authorization", "Bearer " + this.jwt);
        //attempt at making csrf work, don't delete
        //myHeaders.append("x-csrf-token", VueJwtDecode.decode(this.jwt)["c-xsrf-token"]);

        var requestOptions = {
          method: 'DELETE',
          headers: myHeaders,
          redirect: 'follow'
        };

        fetch("http://localhost:4000/api/users/" + userID, requestOptions)
            .then(function (response) {
              if (!response.ok) {
                throw Error(response.statusText);
              }
              return response;
            })
            .then(response => response.text())
            .then(result => {
              //TODO on veut juste savoir si la requete a fonctionner
              console.log(result)
              if (result) {
                result = JSON.parse(result);
                console.log(result)
              }
              this.getUsers();
            })
            .catch(error => console.log('error', error));
      }).catch(error => {
        // console.log('error', error)
        //TODO HANDLE ERROR
      });
    },
    getUsers() {
      //populate usersList with all the users.
      var myHeaders = new Headers();
      myHeaders.append("Content-Type", "application/json");
      myHeaders.append("Authorization", "Bearer " + this.jwt);

      var requestOptions = {
        method: 'GET',
        headers: myHeaders,
        redirect: 'follow'
      };

      fetch("http://localhost:4000/api/users", requestOptions)
          .then(function (response) {
            if (!response.ok) {
              throw Error(response.statusText);
            }
            return response;
          })
          .then(response => response.text())
          .then(result => {
            result = JSON.parse(result);
            result = result.data;
            console.log(result)

            // this.usersList = [];
            // result.forEach(element => {
            //   console.log(element);
            //   let row = [element.id, element.username, element.email, element.role];
            //   this.usersList.push(row);
            // })
            this.usersList = result.map(_ => {
              return {
                id: _.id,
                username: _.username,
                email: _.email,
                role: _.role
              }
            })
          })
          .catch(error => console.log('error', error));
    }
  }
}
</script>

<style scoped>
html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>